img{
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
}
.navbar{
    display: flex;
    height: 30px;
    width: auto;
    margin: -2px 0px 5px;
    background-color:chocolate;
    align-items: center;
    justify-content: center;
}
.nav-container{
    display: flex;
    min-width: 400px;
    align-items: center;
    justify-content: space-around;
}
footer{
    margin: 150px 0px -8px;
    background-color: chocolate;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.f2{
    text-align: right;
    margin-top: -35px;
    padding-right: 10px;
}
.f1{
    color: #ffffff;
}