.l1{
    color: honeydew;
}
.intro{
    padding-top: 20px;
    text-align: center;
}
.pp{
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 50%;
    border: 5px solid chocolate;
}
.name{
    text-align: center;
    padding-top: 10px;
    padding-left: 5px;
}
p{
    text-align: center;
    padding-top: 10px;
    margin: auto 5px auto;
}
.supbtn{
    height: auto;
    width: 140px;
    margin: auto;
    margin-top: 30px;
    border: 1px solid none;
    border-radius: 30px;
    background-color: chocolate;
    text-align: center;
    cursor: pointer;
}
.teli{
    width: 70px;
}
.unlogo{
    text-align: center;
    margin-top: 10px;
}
.pati{
    width: 70px;
    margin-top: -20px;
}
.supbtn{
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.supbtn:hover{
    background: chocolate;
    box-shadow: 0 0 30px 5px chocolate;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.supbtn:hover::before{
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}
  
.supbtn::before{
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
  
@keyframes sh02{
    from{
      opacity: 0;
      left: 0%;
    }
  
    50%{
      opacity: 1;
    }
  
    to{
      opacity: 0;
      left: 100%;
    }
}
  
.supbtn:active{
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}